# 데이터 둘러보기, 판매자:

내가 필요한 데이터(merchant_id, cat_id, item_id 등)는 user log에 다 있으니까 user_log_format1.csv 를 쓸 것.

In [1]:
import os
os.chdir("/Users/yeeun/Documents/dev/project/TRIT/Trit_tmall/DATA")
os.listdir("/Users/yeeun/Documents/dev/project/TRIT/Trit_tmall/DATA")

['.DS_Store',
 'original',
 'user_log_format1.csv',
 'test_format2.csv',
 'user_info_format1.csv',
 'test_format1.csv',
 'train_format2.csv',
 'train_format1.csv']

In [51]:
import pandas as pd
import numpy as np
import seaborn as sns

% matplotlib inline
import matplotlib.pyplot as plt

## 데이터 불러오기 & 원하는 데이터 만들기

In [4]:
user_log = pd.read_csv("user_log_format1.csv")

In [5]:
user_log.head()

   user_id  item_id  cat_id  seller_id  brand_id  time_stamp  action_type
0   328862   323294     833       2882    2661.0         829            0
1   328862   844400    1271       2882    2661.0         829            0
2   328862   575153    1271       2882    2661.0         829            0
3   328862   996875    1271       2882    2661.0         829            0
4   328862  1086186    1271       1253    1049.0         829            0

In [14]:
merchant = user_log[['seller_id', 'item_id', 'cat_id', 'brand_id']]

In [15]:
merchant.head()

   seller_id  item_id  cat_id  brand_id
0       2882   323294     833    2661.0
1       2882   844400    1271    2661.0
2       2882   575153    1271    2661.0
3       2882   996875    1271    2661.0
4       1253  1086186    1271    1049.0

## 기본적인 통계 내보기

In [20]:
merchant.dtypes

seller_id      int64
item_id        int64
cat_id         int64
brand_id     float64
dtype: object

In [47]:
merchant['seller_id'].value_counts().head()

3760    743217
3828    730455
184     613811
1102    541374
4173    528755
Name: seller_id, dtype: int64

In [55]:
Counter([merchant.seller_id])

NameError: name 'Counter' is not defined

In [42]:
merchant['item_id'].value_counts()

67897      345905
783997     178005
636863      82480
631714      42771
61518       34801
559967      28816
770668      28431
94609       23027
1059899     22242
1024557     21045
628774      20656
991126      19273
186456      18582
416858      18209
353560      17845
574783      17463
671759      17383
899607      17103
822352      16837
15207       16615
617878      16347
191499      16232
28895       15424
1004098     15414
225941      15291
1073970     15251
649596      15227
276750      14490
7915        14318
584579      14249
            ...
738493          1
561292          1
778829          1
902253          1
1053596         1
860730          1
443662          1
320435          1
102829          1
4509            1
336697          1
385938          1
287650          1
397661          1
435017          1
41865           1
451570          1
83454           1
680547          1
659677          1
692429          1
50638           1
844467          1
58163           1
1089930         1
1020013         1
181646          1
385939          1
345470          1
635280          1
Name: item_id, Length: 1090390, dtype: int64

In [43]:
merchant['cat_id'].value_counts()

662     4339025
737     1749753
1505    1724239
389     1621736
656     1538969
1349    1374482
1142    1265446
602     1248070
1577    1216159
1095    1155256
1438     933702
177      932113
407      879524
821      864373
1553     848239
1467     796754
302      769658
1075     723725
1238     712257
1208     711145
1188     698996
664      673125
1213     663906
1271     660025
1389     612536
1397     608386
1023     600386
420      571924
351      570235
267      520355
         ...
899           1
92            1
879           1
473           1
881           1
232           1
1351          1
1473          1
482           1
856           1
961           1
105           1
146           1
487           1
1487          1
263           1
1002          1
1618          1
1275          1
98            1
341           1
449           1
625           1
336           1
334           1
1364          1
920           1
572           1
1012          1
1182          1
Name: cat_id, Length: 1658, dtype: int64

In [44]:
merchant['brand_id'].value_counts()

3738.0    763345
1360.0    737545
1446.0    729555
1214.0    541075
5376.0    528003
82.0      503911
2276.0    491738
8235.0    400024
4705.0    363417
1662.0    332633
5434.0    323647
3969.0    322963
2104.0    318715
4073.0    299629
7069.0    291054
376.0     285811
6143.0    250677
4874.0    236872
6938.0    231035
6065.0    227288
3650.0    221162
4290.0    212132
3700.0    211271
7749.0    210949
6585.0    204407
6742.0    189040
4509.0    188110
1573.0    176227
1859.0    162407
1128.0    160208
           ...
1889.0         1
5792.0         1
5532.0         1
2115.0         1
2348.0         1
5437.0         1
2342.0         1
5175.0         1
5177.0         1
5189.0         1
7962.0         1
2306.0         1
5210.0         1
5236.0         1
5271.0         1
2268.0         1
2259.0         1
2243.0         1
2241.0         1
5297.0         1
5317.0         1
2216.0         1
5333.0         1
7894.0         1
5348.0         1
7257.0         1
2163.0         1
5415.0         1
2149.0         1
3453.0         1
Name: brand_id, Length: 8443, dtype: int64

In [ ]:
전체적으로 보면 잘 팔리는 물건들이 정해져 있는 것을 볼 수 있음.