In [1]:
import os
os.chdir("/Users/yeeun/Documents/dev/project/TRIT/Trit_tmall/DATA")
os.listdir("/Users/yeeun/Documents/dev/project/TRIT/Trit_tmall/DATA")

['.DS_Store',
 'original',
 'user_log_format1.csv',
 'test_format2.csv',
 'user_info_format1.csv',
 'test_format1.csv',
 'train_format2.csv',
 'train_format1.csv']

In [2]:
import pandas as pd
import numpy as np

% matplotlib inline
import matplotlib.pyplot as plt

In [3]:
train2 = pd.read_csv("train_format2.csv")
user_info = pd.read_csv("user_info_format1.csv")
user_log = pd.read_csv("user_log_format1.csv")

In [4]:
train2.head()
user_info.head()
user_log.head()

   user_id  item_id  cat_id  seller_id  brand_id  time_stamp  action_type
0   328862   323294     833       2882    2661.0         829            0
1   328862   844400    1271       2882    2661.0         829            0
2   328862   575153    1271       2882    2661.0         829            0
3   328862   996875    1271       2882    2661.0         829            0
4   328862  1086186    1271       1253    1049.0         829            0