In [1]:
import os
os.chdir("/Users/yeeun/Documents/dev/project/TRIT/Trit_tmall/DATA")
os.listdir("/Users/yeeun/Documents/dev/project/TRIT/Trit_tmall/DATA")

['sp_userinfo.csv',
 '.DS_Store',
 'original',
 'sp_userlog.csv',
 'user_log_format1.csv',
 'test_format2.csv',
 'user_info_format1.csv',
 'test_format1.csv',
 'train_format2.csv',
 'train_format1.csv',
 'sp_tr2.csv',
 'sp_tr1.csv']

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

% matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt

In [3]:
train2 = pd.read_csv("train_format2.csv")

In [4]:
train2.head()

,user_id,age_range,gender,merchant_id,label,activity_log
0,34176,6.0,0.0,944,-1,408895:1505:7370:1107:0
1,34176,6.0,0.0,412,-1,17235:1604:4396:0818:0#954723:1604:4396:0818:0...
2,34176,6.0,0.0,1945,-1,231901:662:2758:0818:0#231901:662:2758:0818:0#...
3,34176,6.0,0.0,4752,-1,174142:821:6938:1027:0
4,34176,6.0,0.0,643,-1,716371:1505:968:1024:3